html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Waiting for the Sunrise', cursive;*/
    color: #9A9A9A;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    box-sizing: border-box;
}
/*Header style starts*/
.top_header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: lavender;
    opacity: 0.8;
    z-index: 100;
}
.wrapper{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
header.top_header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}
header.top_header .wrapper .left_nav ul, 
header.top_header .wrapper .right_nav ul{
    display: flex;
    font-size: 18px;
    line-height: 22px;
    color: #433840;
}
header.top_header .wrapper .left_nav ul li,
header.top_header .wrapper .right_nav ul li{
    margin-left: 16px;
    margin-right: 16px;
}
header.top_header .wrapper .left_nav ul li a,
header.top_header .wrapper .right_nav ul li a{
    text-decoration: none;
    color: inherit;
    
}
header.top_header .wrapper .left_nav ul li a:hover,
header.top_header .wrapper .right_nav ul li a:hover{
    color: #FEA3AC;
    transition: all 0.3s ease-in-out;
}

.burger_menu{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line{
    display: block;
    width: 100%;
    height: 3px;
    background-color:#FEA3AC;
    position: absolute;
    left: 0;   
}
.burger_menu .first{
    top: 0;
}
.burger_menu .second{
    top: 50%;
    transform: translateY(-50%);
}
.burger_menu .third{
    bottom: 0;
}
.mobile_nav{
    display: none;
}
.mobile_nav a{
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #433840;
    
}

.mobile_nav a:hover{
    color: #FEA3AC;
    transition: all 0.3s ease-in-out;
}


/*Header style end*/


/*Page_heading style start*/
.page_heading{
    min-height: 400px;
    background-size: cover;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page_heading.about_page{
    background: transparent url(../img/about_header.jpg) center center no-repeat;
}
.svg_style{
    position: relative;
}
.svg_style::before{
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    background: url("../img/svg/top.svg") center center no-repeat;
    top: 0;
    left: 0;
}
.svg_style::after{
    content: "";
    width: 100%;
    height: 110px;
    background: url("../img/svg/bottom.svg") center center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}
.title_heading{
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    }
.subtitle_heading{
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    
}
/*Page_heading style end*/

/*About style start*/
.about_box{
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 110px;
}
.about_box .item_data:first-child{
    padding-left: 25px;
    padding-right: 45px;    
}
.about_box .item_data:last-child{
    padding-left: 45px;
    padding-right: 25px;    
}
.about_box .item_data article{
    margin-bottom: 80px;
}
.about_box .item_data article:last-child{
    margin-bottom: 0;
}
.about_box .item_data article h3{
    font-size: 30px;
    line-height: 37px;
    color: #433840;
    margin-bottom: 12px;
}

/*About style end*/


/*Infographics style start*/
.infographics{
    background:#FEA3AC;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.infographics .info_list{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.infographics .info_list .item_info {
    text-align: center;
}
.infographics .info_list .item_info .icon{
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.infographics .info_list .item_info .count{
    font-family: Waiting for the Sunrise;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #DFEEB6;
    display: block;
}
.infographics .info_list .item_info h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

/*Infographics style end*/
/*Team styles start*/
.team .box_title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #433840;
    text-align: center;

}
.team .box_subtitle{
    font-family: Waiting for the Sunrise;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #F7A1A8;
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
.team_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.team_list .team_member {
    width: calc(50% - 201.5px);
    background: #C9E3F4;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 190px;
    display: flex;
    align-items: center;
}
 .team_list .image img{
     border-radius: 100%;
     width: 330px;
     height: 330px;
     margin-left: -190px;
     margin-bottom: 25px;
     margin-top: 25px;
 }   
 .team_list ,.team_member .data{
     margin-left: 17px;
 }
 .team_list .team_member .name{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
 }
 .team_list .team_member .post{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #433840;
    display: block;
    margin-bottom: 14px;
 }
 .team_list .team_member .data p{
    font-weight: 300;
    line-height: 25px;
    color: #433840;
    margin-bottom: 10px;
 }

.team_list .team_member:nth-child(2), 
.team_list .team_member:nth-child(3){
    background: #DFEEB6;
}
.team_list .team_member:nth-child(3),
.team_list .team_member:nth-child(4){
    margin-right: 190px;
    margin-left: 0;
}
.team_list .team_member:nth-child(3) .image,
.team_list .team_member:nth-child(4) .image{
    order: 2;
}
.team_list .team_member:nth-child(3) .image img,
.team_list .team_member:nth-child(4) .image img{
    margin-left: 0;
    margin-right: -190px;
}
.team_list .team_member:nth-child(3) .data,
.team_list .team_member:nth-child(4) .data{
    order: 1;
    margin-right: 17px;
    margin-left: 0;
    text-align: right;
}
.team_list .social a:hover{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.team_list .social_icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*Team styles end*/
/*Footer  styles start*/
.footer{
    padding-top: 50px;
    background: url(../img/footer_back.png) no-repeat center center;
    background-size: cover;
}
.footer .footer_info{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer .footer_info_block{
    width: 33%;
}
.footer .footer_info_block h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 25px;
    padding-top: 5px;
}
.footer_info_block .opening_hours li{
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
}
.footer_info_block .opening_hours .opening_hours_time{
    color: #DFEEB6;
}

.footer .footer_info_block .contact_info-list{
    line-height: 35px;
}
.footer .footer_info_block .instagram_feed-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_feed{
    width: 97px;
    height: 97px;
    margin-right: 26px;
    margin-bottom: 26px;
}




.footer .footer_info-2{
    background: #433840;
}
.footer .footer_copyrights{
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer_copyrights_name{
    font-size: 15px;
    line-height: 35px;
    color: #FFFFFF;
}
.footer_social .social_icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(0.8);
}
/*Footer  styles end*/


/*Media start*/
@media screen and (max-width: 1200px) {
 .wrapper{
     /*width: 80%;
     margin: 0 auto;*/
 }
 .about_box{
     padding: 0 15px;
 }
 .footer h3{
     padding-top: 50px;
 }
 
}

@media screen and (max-width: 970px){
    .infographics{
        padding: 30px 0;
    }
    .item_info{
        width: 50%;
    }
    .svg_style::before{
        height: 50px;
    }
    .svg_style::after{
        height: 50px;
    }
    .team_list{
        flex-direction: column;
    }
    .team_list .team_member{
        width: calc(95% - 201.5px);
    }
    .team_list .image img{
        width: 290px;
        height: 290px;
    }
    .footer .footer_info_block{
        width: 50%;
    }
    .footer .footer_info_block:last-child{
        width: 100%;
    }

}
@media screen and (max-width: 720px){
    header.top_header .wrapper .left_nav ul, 
    header.top_header .wrapper .right_nav ul{
        flex-direction: column;
    }
       
    .about_box{
        flex-direction: column;
        width: 90%;
    }
    .item_data img {
        width: 80%;
    }
    .team_list .image img{
        width: 250px;
        height: 250px;
    }
    .footer .footer_feed{
        width: 30%;
    }
}
@media screen and (max-width: 570px){
    /*Burger menu*/
    .burger_menu{
        display: block;
    }
    .left_nav, .right_nav{
        display: none;
    }
    .mobile_nav{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#C9E3F4;
        padding: 50px;
        z-index: 10;
        transform: translateX(100%);
        transition: 0.2s all linear;
    }
    .mobile_nav_active{
        transform: translateX(0);
    }
    .header_item_mob{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header_item_mob:last-child{
        margin-bottom: 0;
    }

    .header_item_mob a{
        font-size: 42px;
        line-height: 48px;
    }
    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 30%;
        top: 30px;
        z-index: 11;
    }
    .header_nav_close-line{
        display: block;
        width: 100%;
        height: 4px;
        background-color:#F7A1A8;
        position: absolute;
        top: 50%;
    }
    .header_nav_close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav_close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .subtitle_heading{
        text-align: center;
    }
    .team_list .team_member:nth-child(3) .data, 
    .team_list .team_member:nth-child(4) .data {
        margin-left: 17px;
        text-align: left;
    }


    .infographics .info_list{
        margin-bottom: 50px;
    }
    .infographics .info_list .item_info{
    width: 100%;
    }
    .team .box_subtitle{
        margin-bottom: 30px;
    }
    .team_list{
        margin-bottom: 60px; 
    }
    .team_list .team_member{
        width: 100%;
        height: 100%;
        margin-left: 0;
        flex-direction: column;
    }
    .team_list .image img{
        margin-left: 5px;
    }
    .team_list .team_member:nth-child(3) .image img,
    .team_list .team_member:nth-child(4) .image img{
    margin-right: 5px;}
    .footer .footer_info_block{
        width: 100%;
    }

    .team_list .team_member:nth-child(3) .image,
    .team_list .team_member:nth-child(4) .image{
        order: 1;
    }
    .footer .footer_info{
        padding: 0 30px;
        margin-bottom: 10px;
    }
    .footer .footer_info_block{
        margin-bottom: 35px;
    }
    .footer .footer_copyrights{
        justify-content: space-around;
    }

}

/*Media end*/